<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1>Páginas de cadastros administrativos do Hotel DEVaneio! <br> Seja muito bem vindo.</h1>

        <h2>A seguir, as opções de páginas para se direcionar!</h2>
        <h3>
            <li><a href="/homeAdmin/createAdmin">Cadastrar um admin</a></li>
            <li><a href="homeAdmin/">Cadastrar novos quartos</a></li>
            <li><a href="homeAdmin/">Cadastrar contatos</a></li>
            <li><a href="homeAdmin/">Cadastrar um novo hotel em nossa rede</a></li>
        </h3>


    </body>

</html>